# ==========================
# Cipher v2 Requirements
# ==========================

# --------------------------
# AI
# --------------------------

ollama

# --------------------------
# Speech Recognition
# --------------------------

SpeechRecognition
faster-whisper
ctranslate2
av

# --------------------------
# Wake Word
# --------------------------

openwakeword
onnxruntime

# --------------------------
# Audio
# --------------------------

sounddevice
soundfile
numpy

# --------------------------
# Text To Speech
# --------------------------

edge-tts

# --------------------------
# GUI
# --------------------------

PyQt6

# --------------------------
# Vision
# --------------------------

opencv-python
Pillow

# --------------------------
# Automation
# --------------------------

pywhatkit

# --------------------------
# Networking
# --------------------------

requests

# --------------------------
# Utilities
# --------------------------

python-dotenv
psutil
rich